%h1 YourHair

%form(action='/searchReviews' method='POST' id='searchReviews')
  Search for Products!

  %p
    Your Username:
    Your Hair Type:
    Your Hair Goals:
    Products you are currently using:
    Most recent photo:
